<!DOCTYPE html>

<hr>

<p style="text-align: center;"><a href="{{ site.github.url }}"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic001.png?raw=true" alt="" width="50" height="50" /></a> <a href="https://github.com/SmartPack" target="_blank"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic002.png?raw=true" alt="" width="50" height="50" /></a> <a href="https://t.me/smartpack_kmanager" target="_blank"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic006.png?raw=true" alt="" width="50" height="50" /></a> <a href="{{ site.github.url }}/donation/"><img src="https://github.com/SmartPack/SmartPack-Kernel-Manager/blob/master/app/src/main/res/drawable/ic_donate.png?raw=true" alt="" width="50" height="50" /></a></p>
<p style="text-align: center;"><b>Idea & design: Aswathy Luckose</b></p>
