<!DOCTYPE html>

<header>
	<h2 style="text-align: center;"><a href="https://smartpack.github.io/"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic001.png?raw=true" alt="" width="150" height="150" /></a></h2>
	<h2 style="text-align: center;"><strong>SmartPack-Kernel</strong>: <i>Stable & Powerful</i></h2>
	<p style="text-align: center;">Developer: <strong><a href="https://forum.xda-developers.com/member.php?u=7060205/" target="_blank">sunilpaulmathew</a></strong></p>
	<p style="text-align: center;"><a href="https://github.com/SmartPack" target="_blank"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic002.png?raw=true" alt="" width="50" height="50" /></a> <a href="https://t.me/sunilpaulmathew" target="_blank"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic006.png?raw=true" alt="" width="50" height="50" /></a> <a href="https://www.paypal.me/sunilpaulmathew" target="_blank"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic005.png?raw=true" alt="" width="50" height="50" /></a></p>
	<p style="text-align: center;"><small>Idea & design: Aswathy Luckose</small></p>
</header>
