<!DOCTYPE html>

<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="{{ site.github.url }}">Home</a>
  <a href="{{ site.github.url }}/disclaimer/">Disclaimer</a>
  <div class="dropdown">
    <button class="dropbtn">Projects 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ site.github.url }}/announcements/">Announcements</a>
      <a href="{{ site.github.url }}/active-projects/">Active Projects</a>
      <a href="{{ site.github.url }}/end-of-life/">EOL Projects</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Downloads 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ site.github.url }}/sgs5/">Samsung Galaxy S5</a>
      <a href="{{ site.github.url }}/op5t/">OnePlus 5T</a>
      <a href="{{ site.github.url }}/motog2015/">Moto G 2015</a>
      <a href="{{ site.github.url }}/spkm/">SmartPack-Kernel Manager</a>
      <a href="{{ site.github.url }}/smartflasher/">Smart Flasher</a>
      <a href="{{ site.github.url }}/scriptmanager/">Script Manager</a>
      <a href="{{ site.github.url }}/downloads/">Other Downloads</a>
      <a href="https://androidfilehost.com/?w=profile&uid=24591023225177616" target="_blank">Android File Host</a>
    </div>
  </div>
  <a href="{{ site.github.url }}/donation/">Donations</a>
  <a href="{{ site.github.url }}/contact/">Contacts</a>
</div>

<p style="margin-bottom:40px;"></p>
