<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="topnav" id="myTopnav">
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
		<a href="{{ site.github.url }}">Home</a>
		<div class="dropdown">
			<button class="dropbtn">Downloads
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="{{ site.github.url }}/spkm/">SmartPack-Kernel Manager</a>
				<a href="{{ site.github.url }}/smartflasher/">Smart Flasher</a>
				<a href="{{ site.github.url }}/scriptmanager/">Script Manager</a>
				<a href="{{ site.github.url }}/pm/">Package Manager</a>
				<a href="{{ site.github.url }}/bbi/">BusyBox Installer</a>
				<a href="{{ site.github.url }}/debloater/">De-Bloater</a>
				<a href="{{ site.github.url }}/kp/">Kernel Profiler</a>
				<a href="{{ site.github.url }}/translator/">The Translator</a>
			</div>
		</div>
		<a href="{{ site.github.url }}/disclaimer/">Disclaimer</a>
		<a href="{{ site.github.url }}/privacy-policy/">Privacy Policy</a>
		<a href="{{ site.github.url }}/donation/">Donations</a>
		<a href="{{ site.github.url }}/contact/">Contacts</a>		
	</div>
	<p style="margin-bottom:40px;"></p>
