<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="topnav" id="mTopnav">
		<a href="javascript:void(0);" class="icon" onclick="mMenu()">&#9776;</a>
		<a href="{{ site.github.url }}"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic001.png?raw=true" alt="" width="25" height="25" /></a>
		<a href="{{ site.github.url }}">Home</a>
		<div class="dropdown">
			<button class="dropbtn">Downloads
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="{{ site.github.url }}/spkm/">SmartPack-Kernel Manager</a>
				<a href="{{ site.github.url }}/PackageManager/" target="_blank">Package Manager</a>
				<a href="{{ site.github.url }}/bbi/">BusyBox Installer</a>
				<a href="{{ site.github.url }}/De-Bloater/" target="_blank">De-Bloater</a>
				<a href="{{ site.github.url }}/kp/">Kernel Profiler</a>
				<a href="{{ site.github.url }}/translator/">The Translator</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Posts
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="{{ site.github.url }}/android-rooting/">Android Rooting</a>
				<a href="{{ site.github.url }}/adb-debloating/">ADB De-bloating</a>
				<a href="{{ site.github.url }}/debloating/">De-bloating</a>	
			</div>
		</div>
		<a href="{{ site.github.url }}/disclaimer/">Disclaimer</a>
		<a href="{{ site.github.url }}/privacy-policy/">Privacy Policy</a>
		<a href="{{ site.github.url }}/donation/">Donations</a>
		<a href="{{ site.github.url }}/contact/">Contacts</a>		
	</div>

<p style="margin-bottom:50px;"></p>
