<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
   <meta name="viewport" content="width=device-width">
   <link rel="shortcut icon" type="image/png" href="/asset/favicon.png"/>
   {% include nav.html %}
   {% seo %}
</head>
<body>
   <div class="wrapper">
      <header>
         <br>
         <h2 style="text-align: center;"><a href="{{ site.github.url }}"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic001.png?raw=true" alt="" width="125" height="125" /></a></h2>
         <h3 style="text-align: center"><strong>SmartPack Projects</strong></h3>
         <p style="text-align: center;">Developer: <strong><a href="https://play.google.com/store/apps/dev?id=5836199813143882901" target="_blank">sunilpaulmathew</a></strong></p>
         <p style="text-align: center;"><a href="https://github.com/sunilpaulmathew" target="_blank"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic002.png?raw=true" alt="" width="50" height="50" /></a> <a href="https://t.me/smartpack_kmanager" target="_blank"><img src="https://github.com/SmartPack/SmartPack.github.io/blob/master/asset/pic006.png?raw=true" alt="" width="50" height="50" /></a> <a href="{{ site.github.url }}/donation/"><img src="https://github.com/SmartPack/SmartPack-Kernel-Manager/blob/master/app/src/main/res/drawable/ic_donate.png?raw=true" alt="" width="50" height="50" /></a></p>   
      </header>
      <section>
         {{ content }}
      </section>
      <footer>
         {% if site.github.is_project_page %}
         <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
         {% endif %}
         <p style="text-align: center;"><small>Idea & design:</small><br><b>Aswathy Luckose</b></p>
      </footer>
   </div>
   <script src="{{ '/asset/js/scale.fix.js' | relative_url }}"></script>
</body>
</html>
