<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="/asset/favicon.png"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include nav.html %}
    {% seo %}
  </head>
  <body>
    <div class="wrapper">

      {% include header.html %}

      <section>

      {{ content }}

      </section>

    </div>

 <script src="{{ '/asset/js/scale.fix.js' | relative_url }}"></script>

  {% if site.google_analytics %}

      {% include GoogleAnalytics.html %}

  {% endif %}
  </body>
</html>
